
@font-face {font-family: "Linotype Feltpen W02 Medium";
  src: url("special.woff2");
  font-display: swap;
}

html, body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px; 

}

html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 

}

*, *::before, *::after {

  box-sizing: border-box; 

}

body {

  background-color: black; 

}

#map {

  width: 100%;
  height: 100%;

}